# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/api/Webshop.Api/.vs/Webshop.Api
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/apphost.exe
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.assets.cache
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.csproj.AssemblyReference.cache
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.csproj.CoreCompileInputs.cache
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.csproj.FileListAbsolute.txt
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.dll
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.GeneratedMSBuildEditorConfig.editorconfig
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.genruntimeconfig.cache
/api/Webshop.Api/Webshop.Api/obj/Debug/net6.0/Webshop.Api.pdb
/api/Webshop.Api/Webshop.Api/obj/project.assets.json
/api/Webshop.Api/Webshop.Api/obj/project.nuget.cache
/api/Webshop.Api/Webshop.Api/obj/Webshop.Api.csproj.nuget.dgspec.json
/api/Webshop.Api/Webshop.Api/obj/Webshop.Api.csproj.nuget.g.props
/api/Webshop.Api/Webshop.Api/bin/Debug/net6.0/appsettings.Development.json
/api/Webshop.Api/Webshop.Api/bin/Debug/net6.0/appsettings.json
/api/Webshop.Api/Webshop.Api/bin/Debug/net6.0/Data.dll
/api/Webshop.Api/Webshop.Api/bin/Debug/net6.0/Data.pdb
/api/Webshop.Api/Webshop.Api/bin/Debug/net6.0/Webshop.Api.dll
/api/Webshop.Api/Webshop.Api/bin/Debug/net6.0/Webshop.Api.exe
/api/Webshop.Api/Webshop.Api/bin/Debug/net6.0/Webshop.Api.pdb
/api/Webshop.Api/Data/obj/Data.csproj.nuget.dgspec.json
/api/Webshop.Api/Data/obj/Data.csproj.nuget.g.props
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.assets.cache
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.csproj.AssemblyReference.cache
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.csproj.CoreCompileInputs.cache
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.csproj.FileListAbsolute.txt
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.dll
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.GeneratedMSBuildEditorConfig.editorconfig
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.genruntimeconfig.cache
/api/Webshop.Api/Data/obj/Debug/net6.0/Data.pdb
/api/Webshop.Api/Data/obj/project.assets.json
/api/Webshop.Api/Data/obj/project.nuget.cache
/api/Webshop.Api/.vs/Webshop.Api/v17/.futdcache.v2
/api/Webshop.Api/.vs/Webshop.Api/v17/.suo
/api/Webshop.Api/Data/bin/Debug/net6.0/Data.dll
/api/Webshop.Api/Data/bin/Debug/net6.0/Data.pdb
/api/Webshop.Api/.vs/Webshop.Api/FileContentIndex/32e0b68f-dca7-4c38-90c3-1a5d6a26bea4.vsidx
/api/Webshop.Api/.vs/Webshop.Api/FileContentIndex/6499bd31-3e19-4b86-b4bc-a77a03257fc5.vsidx
/api/Webshop.Api/.vs/Webshop.Api/FileContentIndex/93d72f54-1778-41a1-b11f-9c8c7d431083.vsidx
/api/Webshop.Api/.vs/Webshop.Api/FileContentIndex/afae832a-bd5b-42e9-a54f-9ee13717467e.vsidx
/api/Webshop.Api/.vs/Webshop.Api/FileContentIndex/fafa343d-8c9c-43ab-9ea2-bd77934019c3.vsidx
/api/Webshop.Api/.vs/Webshop.Api/DesignTimeBuild/.dtbcache.v2
/api/Webshop.Api/.vs/ProjectEvaluation/webshop.api.metadata.v7.bin
/api/Webshop.Api/.vs/ProjectEvaluation/webshop.api.projects.v7.bin
