<!-- <main>
    <gallery [items]="items"></gallery>
  </main>
   -->

   <!-- <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let image of items">
        <a href="#" class="thumbnail">
          <img src="{{ image.src }}">
        </a>
      </div>
    </div>
  </div> -->

  <!-- Carousel wrapper -->
  
  <div id="carouselBasicExample" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let item of items; let i = index" class="carousel-item" [class.active]="i === currentIndex">
        <a href="/announcement/{{i}}"><img [src]="item.src" class="d-block w-100 carousel-image" alt="{{ item.alt || 'Image ' + (i + 1) }}" /></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>{{item.caption}}</h5>
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
    <button (click)="previous()" class="carousel-control-prev" type="button">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button (click)="next()" class="carousel-control-next" type="button">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  