<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/khareba3.5.jpg" alt="Infographic Image" class="img-fluid float-start mb-3" style="width: 100%; height: 100%;">
    </div>
    <div class="col-md-6 text-white">
      <h2>Welcome to Georgia's Wine Legacy</h2>
      <p>Georgia, the birthplace of wine, boasts an 8,000-year winemaking heritage. The ancient qvevri method, using clay vessels buried underground, infuses Georgian wines with a unique character and a connection to their rich cultural history.</p>
      <p>
        <span class="fw-bold">A World of Unique Grape Varieties:</span> Georgia boasts over 500 indigenous grape varieties, each offering a distinctive taste. From the bold Saperavi to the elegant Rkatsiteli, these wines will take your palate on a Georgian adventure.
      </p>
      <p>
        <span class="fw-bold">Savor the Best of Georgian Wines:</span> Explore our curated selection, showcasing the harmony of tradition and modernity. Whether you're a wine connoisseur or an enthusiast, you'll find the perfect Georgian wine to elevate your moments.
      </p>
      <p>Feel free to browse, discover, and find your perfect Georgian wine match. Whether you're toasting to special occasions or simply unwinding after a long day, our collection of Georgian wines promises a taste of history, a touch of innovation, and a world of possibilities.</p>
    </div>
  </div>
</div>