<div class="d-flex flex-column align-items-center w-100 position-relative">
    <img src="assets/images/khareba3.5.jpg" alt="Infographic Image" class="img-fluid h-25" style="max-width: 100%; height: auto;">
    <div class="position-absolute top-50 start-50 translate-middle text-container bg-dark p-3 bg-opacity-50">
        <p class="text-white" style="font-size: 24px;">🍇🌿🍷Welcome to Georgia’s Wine Legacy 🍇🌿🍷
            Georgia, the birthplace of wine, boasts an 8,000-year winemaking heritage.
            The ancient qvevri method, using clay vessels buried underground,
            infuses Georgian wines with a unique character and a connection to their rich cultural history.
            <br>
            <br>


            🍇 A World of Unique Grape Varieties 🎶
            Georgia boasts over 500 indigenous grape varieties, each offering a distinctive taste.
            From the bold Saperavi to the elegant Rkatsiteli, these wines will take your palate on a Georgian adventure.
            <br>
            <br>

            🍷 Savor the Best of Georgian Wines 🌟
            Explore our curated selection, showcasing the harmony of tradition and modernity.
            Whether you’re a wine connoisseur or an enthusiast, you’ll find the perfect Georgian wine to elevate your moments.
            <br>
            <br>

            🍇🌿🍷Feel free to browse, discover, and find your perfect Georgian wine match. 
             Whether you’re toasting to special occasions or simply unwinding after a long day,
            our collection of Georgian wines promises a taste of history, a touch of innovation, and a world of possibilities.</p>
      <!-- <p class="text-white"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra ligula id orci tristique, eget vehicula tortor condimentum. Nullam tincidunt euismod dolor, eu varius libero elementum id. Fusce auctor massa a nibh lacinia, vel pharetra justo vestibulum. Cras vulputate, libero in convallis luctus, ex dolor facilisis mi, id convallis mi sapien a odio. Nunc ut dui auctor, fringilla eros sed, posuere urna. Proin posuere bibendum est, vel bibendum purus tristique a. Curabitur sit amet bibendum ex. Integer non felis vel justo congue tristique. Nullam eget arcu elit. Sed vel sapien ac ipsum placerat venenatis.</b></p> -->
    </div>
  </div>