<div class="container">
    <div class="row">
      <div *ngFor="let wine of items" class="col-md-4">
        <div class="card">
          <img [src]="wine.image" class="card-img-top img-fluid" alt="Wine Image">
          <div class="card-body">
            <a (click)="openWhineDetailScreen(wine)">
              <h3 class="card-title"><b>{{ wine.name }}</b></h3>
            </a>
            <p class="card-text">Price: ${{ wine.price }}</p>
            <!-- Add other details here -->
          </div>
        </div>
      </div>
    </div>
  </div>