<div class="product-card">
    <div class="product" style="overflow: visible;">
        <div class="product-photo">
            <div class="photo-container">
                <div class="photo-main">
                    <div class="controls">
                    </div>
                    <img [src]="selectedWine.imageUrl" class="img-main" alt="Wine Image">
                </div>
                <!-- <div class="photo-album">
                    <ul class="list-icons">
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div>
            <div class="close-button" (click)="closeModal()"><button>X</button></div>
            <div class="title">
                <h1>{{ selectedWine.name }}</h1>
                <span>COD: 45999</span>
            </div>
            <div class="price">
                € <span>{{ selectedWine.price }}</span>
            </div>
            <div class="variant">
                <h3>
                    <button class="btn text-white" type="button" data-bs-toggle="collapse" data-bs-target="#awardsCollapse" aria-expanded="false" aria-controls="awardsCollapse">
                        Awards
                    </button>
                </h3>
                <div class="collapse" id="awardsCollapse">
                    <ul class="list-icons">
                        <li class="selection-icon">Award 0</li>
                        <li class="selection-icon">Award 1</li>
                        <li class="selection-icon">Award 2</li>
                    </ul>
                </div>
            </div>
            
            <div class="description">
                <h3>Description</h3>
                <ul class="">
                    <li> {{ selectedWine.description }}</li>
                </ul>
            </div>
            <div>
                
            </div>
            <div class="counter-container">
                <!-- <button class="counter-btn" (click)="increment()">+</button> -->
                <input class="counter-input" type="number" [(ngModel)]="counterValue" />
                <!-- <button class="counter-btn" (click)="decrement()">-</button> -->
            </div>
            <button (click)="addToCart()" class="buy-btn">ADD TO CART</button>
        </div>
    </div>
</div>