<div class="product-card">
    <div class="product" style="overflow: visible;">
        <div class="product-photo">
            <div class="photo-container">
                <div class="photo-main">
                    <div class="controls">
                        <i class="material-icons">share</i>
                        <i class="material-icons">favorite_border</i>
                    </div>
                    <img [src]="selectedWine.imageUrl" class="img-main" alt="Wine Image">
                </div>
                <!-- <div class="photo-album">
                    <ul class="list-icons">
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                        <li class="selection-icon"><img [src]="selectedWine.image" class="card-img-top img-fluid" alt="Wine Image"></li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div>
            <div class="close-button" (click)="closeModal()"><button>X</button></div>
            <div class="title">
                <h1>{{ selectedWine.name }}</h1>
                <span>{{ selectedWine.smallDescription }}</span>
            </div>
            <div class="price">
                € <span>{{ selectedWine.price }}</span>
            </div>
            <div class="variant">
                <h3>Awards</h3>
                <ul class="list-icons">
                    <li>X</li>
                    <li class="selection-icon">Y</li>
                    <li class="selection-icon">Z</li>
                </ul>
            </div>
            <div class="description">
                <h3>DESCRIPTION</h3>
                <ul class="">
                    <li>{{ selectedWine.description }}</li>
                </ul>
            </div>
            <div>
                
            </div>
            <div class="counter-container">
                <!-- <button class="counter-btn" (click)="increment()">+</button> -->
                <input class="counter-input" type="number" [(ngModel)]="counterValue" />
                <!-- <button class="counter-btn" (click)="decrement()">-</button> -->
            </div>
            <button (click)="addToCart()" class="buy-btn">ADD TO CART</button>
        </div>
    </div>
</div>