
<div class="container mt-5">
    <h1 class="text-center text-white mb-4 mt-4" style="font-family: 'Your-Chic-Font'; border-bottom: 2px solid;">Our assortment of wines</h1>
    <div class="row">
        <div *ngFor="let wine of items" class="col-md-3 mb-2s">
            <div class="card wine-card">
                <!-- Image Section -->
                <div class="image-section">
                    <img [src]="wine.imageUrl" (click)="openWhineDetailScreen(wine)" class="img-fluid rounded thumbnail-image">
                </div>

                <!-- Text Section -->
                <div class="text-section p-2">
                    <h5 class="dress-name" (click)="openWhineDetailScreen(wine)">{{wine.name}}</h5>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column mb-2">
                            <span>€{{wine.price}}</span>
                        </div>
                        <div class="color-select d-flex">
                            <p>{{wine.color}}/{{wine.type}}</p>
                            <!-- <input type="button" name="grey" class="btn creme">
                            <input type="button" name="red" class="btn red ml-2">
                            <input type="button" name="blue" class="btn blue ml-2"> -->
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <span class="rating-number">4.8</span>
                        </div>
                        <button class="custom-button" (click)="openWhineDetailScreen(wine)">Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>